<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E mail</th>
            <th>Sales Volume</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let salesPerson of salesPersonList">
            <th>
                {{salesPerson.firstName}}
            </th>
            <th>{{salesPerson.lastName}}</th>
            <th>
                {{salesPerson.email}}
            </th>
            <th>
                {{salesPerson.salesVolume}}
            </th>
        </tr>
    </tbody>
</table>